/build/
.gradle/
**/build/
buildSrc/build/
!gradle-wrapper.jar


.idea/
*.iml
*.ipr
*.iws

.vscode/

.classpath
.project
.settings/
.metadata/

nbproject/
.nbattrs

.DS_Store
Thumbs.db

*.log
*.class

*.jar
*.war
*.ear

local.properties

bin/

*.tmp
*.swp
*~