/build/
.gradle/
**/build/
buildSrc/build/

.idea/
*.iml
*.ipr
*.iws
*.xml

.classpath
.project
.settings/
.metadata/

nbproject/
.nbattrs

.DS_Store
Thumbs.db

*.log

*.class

# JAR/WAR/EAR files
*.jar
*.war
*.ear


local.properties

bin/